body {
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: url("./Assets/Img/bg.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  transition: all 1s linear;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style-type: none;
  color: #ECECEC;
}
.appDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}
.weather_todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.centralBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.arrowDiv {
  display: flex;
  align-items: center;
}
.arrow_left:hover, .arrow_right:hover {
  stroke: black;
  fill: white;
  transform: scale(1.2);
  cursor: pointer;
}
.arrow_left {
  margin-left: 2rem;
}
.arrow_right {
  margin-right: 1rem;
}
.svg_div {
  width: 2.2rem;
}
@media screen and (max-width: 600px) {
  .dateTime {
    font-size: x-small;
  }
}
